:root {
  /*Primary Text*/
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);

  /*Background Gradient*/
  --background-gradient: linear-gradient(
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );

  /* Neutral Text*/
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);

  /*Dividers*/
  --Light-grayish-blue: hsl(240, 5%, 91%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background: var(--background-gradient) no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--Very-dark-grayish-blue);
}

.woman-img, .woman-img-shadow {
  width: 70%;
  position: absolute;
}

.woman-img {
  top: -100px;
  right: 50px;
}

.woman-img-shadow {
  top: 0px;
  right: 50px;
}

main {
  background-color: white;
  border-radius: 1.5em;
  margin: 2em;
  padding: 2em 2em 4em 2em;
  width: 90%;
  position: relative;
}

h1 {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 0.8em;
  font-size: 2rem;
  color: var(--Very-dark-desaturated-blue);
}

.question {
  padding: 1em 0;
}

.question::after {
  content: url(/images/icon-arrow-down.svg);
  float: right;
}

.answer {
  display: none;
}

hr {
  border: 1px solid var(--Light-grayish-blue);
}

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
  color: white;
}

@media screen and (min-width:1440px) {

  main {
    box-shadow: 10px 10px 10px var(--Very-dark-grayish-blue);
    width: 920px;
    height: 509px;
    padding: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    overflow: hidden;
  }

  h1 {
    text-align: left;
    margin-top: 0;
  }

  .faq-col, .desktop-img-col {
    flex: 50%;
  }

  .woman-img, .woman-img-shadow {
    width: 50%;
    position: absolute;
  }
  
  .woman-img {
    left: -30px;
    top: 50px;
  }
  
  .woman-img-shadow {
      left: -30px;
      top: 100px;
  }

  .question:hover {
    color: var(--Soft-red);
    cursor: pointer;
  }
}