:root {
  /*Primary Text*/
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);

  /*Background Gradient*/
  --background-gradient: linear-gradient(
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );

  /* Neutral Text*/
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);

  /*Dividers*/
  --Light-grayish-blue: hsl(240, 5%, 91%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background: var(--background-gradient) no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--Very-dark-grayish-blue);
}

.woman-img, .woman-img-shadow {
  position: absolute;
  align-self: center;
}

.woman-img {
  width: 60%;
}

main {
  background-color: white;
  border-radius: 1.5em;
  margin: 2em;
  padding: 2em;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 0.8em;
  font-size: 2rem;
  color: var(--Very-dark-desaturated-blue);
}

.question {
  padding: 1em 0;
}

.question::after {
  content: url(/images/icon-arrow-down.svg);
  float: right;
}

.answer {
  display: none;
}

hr {
  border: 1px solid var(--Light-grayish-blue);
}

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
}
