:root {
  --primary-text-dark-blue: hsl(238, 29%, 16%);
  --primary-text-red: hsl(14, 88%, 65%);

  --background-gradient: linear-gradient(
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );

  --neutral-text-very-dark-blue: hsl(237, 12%, 33%);
  --neutral-text-dark-blue: hsl(240, 6%, 50%);

  --divider-blue: hsl(240, 5%, 91%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background: var(--background-gradient) no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--neutral-text-very-dark-blue);
}

.woman-img,
.woman-img-shadow {
  width: 70%;
  position: absolute;
}

.woman-img {
  top: -100px;
  right: 50px;
}

.woman-img-shadow {
  top: 0px;
  right: 50px;
}

main {
  background-color: white;
  border-radius: 1.5em;
  margin: 2em;
  padding: 2em 2em 4em 2em;
  width: 90%;
  position: relative;
}

h1 {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 0.8em;
  font-size: 2rem;
  color: var(--primary-text-dark-blue);
}

.question {
  padding: 1em 0;
}

.question::after {
  content: url(./images/icon-arrow-down.svg);
  float: right;
  transition: transform 0.3s;
}

.active-question {
  color: var(--primary-text-dark-blue);
  font-weight: bold;
}

.active-question::after {
  transform: rotate(180deg);
}

.answer {
  display: none;
  font-size: 0.7rem;
  color: var(--neutral-text-dark-blue);
  padding-bottom: 1em;
}

hr {
  border: 1px solid var(--divider-blue);
}

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
  color: white;
}

@media screen and (min-width: 1440px) {

  main {
    box-shadow: 10px 10px 10px var(--neutral-text-very-dark-blue);
    width: 900px;
    height: 475px;
    padding: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  body::before {
    content: url(/images/illustration-box-desktop.svg);
    position: absolute;
    left: 226px;
    bottom: 220px;
    z-index: 2;
  }

  h1 {
    text-align: left;
    margin-top: 0;
  }

  .faq-col,
  .desktop-img-col {
    flex: 50%;
  }

  .woman-img,
  .woman-img-shadow {
    position: absolute;
  }

  .woman-img {
    width: 50%;
    left: -70px;
    top: 60px;
    z-index: 1;
  }

  .woman-img-shadow {
    left: -250px;
    top: -100px;
  }

  .faq-col {
    padding: 0 4em;
  }

  .question {
    padding: 1.5em 0;
    font-size: 0.8rem;
  }

  .question:hover {
    color: var(--primary-text-red);
    cursor: pointer;
  }
}
